

$cf-primary-1: #ffffff;
$cf-primary-2: #1f4c83;
$cf-primary-3: #8bcdcc;

$cf-support-1: #648ec3;
$cf-support-2: #bcbcbc;
$cf-support-3: #564f4e;

$cf-accent: #e99d4a;

$cf-white: #ffffff;
$cf-black: #111111;

$cf-text-color: #333333;
$cf-text-color-secondary: #6b6b6b;

$cf-icon-color: #4e4e4e;
$cf-icon-color-secondary: #6b6b6b;

$cf-gray-50:  #f7f7f7;
$cf-gray-100: #f0f0f0;
$cf-gray-200: #e3e3e3;
$cf-gray-300: #c6c6c6;
$cf-gray-400: #a8a8a8;
$cf-gray-500: #898989;
$cf-gray-600: #6d6d6d;
$cf-gray-700: #505050;
$cf-gray-800: #373737;
$cf-gray-900: #1d1d1d;

$cf-blue-accent-50:  #f3f8ff;
$cf-blue-accent-100: #eef5fd;
$cf-blue-accent-200: #e4f0fd;
$cf-blue-accent-300: #e0efff;
$cf-blue-accent-400: #afccec;
$cf-blue-accent-500: #9bbde1;
$cf-blue-accent-800: #133d70;