<div class="p-8">

<h2 class="text-2xl font-bold text-orange-600 mb-6">
User Management
</h2>

<div class="bg-white shadow-lg rounded-xl p-6 mb-8">

<div class="grid grid-cols-2 gap-6">

<input
pInputText
[(ngModel)]="fullName"
placeholder="Full Name"
/>

<input
pInputText
[(ngModel)]="email"
placeholder="Email"
/>

<p-select
[options]="classes"
[(ngModel)]="selectedClass"
optionLabel="label"
optionValue="value"
placeholder="Select Class">
</p-select>

<p-select
[options]="roles"
[(ngModel)]="selectedRole"
optionLabel="name"
optionValue="id"
placeholder="Select Role">
</p-select>

<input
pInputText
[(ngModel)]="schoolName"
placeholder="School Name"
/>

<input
pInputText
[(ngModel)]="schoolCode"
placeholder="School Code"
/>

</div>

<button
pButton
*ngIf="!editingUserId"
label="Create User"
class="mt-6 bg-orange-500 border-none"
(click)="createUser()">
</button>

<button
pButton
*ngIf="editingUserId"
label="Update User"
class="mt-6 bg-green-500 border-none"
(click)="updateUser()">
</button>

</div>

<p-table [value]="users">

<ng-template pTemplate="header">
<tr>
<th>Name</th>
<th>Email</th>
<th>Class</th>
<th>School</th>
<th>Action</th>
</tr>
</ng-template>

<ng-template pTemplate="body" let-user>
<tr>
<td>{{user.name}}</td>
<td>{{user.email}}</td>
<td>{{user.studentClass}}</td>
<td>{{user.schoolName}}</td>

<td>

<button
pButton
icon="pi pi-pencil"
class="p-button-warning p-button-sm"
(click)="editUser(user)">
</button>

</td>

</tr>
</ng-template>

</p-table>

</div>